@import 'tailwind.css';
@import 'radix-animations.css';

html, body {
  width: 100%;
  min-width: 320px !important;
  background-color: rgba(var(--bg-background)) !important;
  color: rgba(var(--text-primary));
  --light-bg-background: 238, 238, 238;
  --light-bg-secondary: 230, 230, 230;
  --light-bg-tertiary: 220, 220, 220;
  --light-bg-quaternary: 210, 210, 210;
  --light-text-primary: 36, 42, 49;
  --light-text-secondary: 73, 80, 87;
  --light-text-tertiary: 108, 117, 125;
  --light-text-placeholder: 133, 138, 141;
  --light-border-primary: 204, 204, 204;
  --dark-bg-background: 10, 10, 15;
  --dark-bg-secondary: 18, 18, 24;
  --dark-bg-tertiary: 28, 28, 38;
  --dark-bg-quaternary: 38, 38, 48;
  --dark-text-primary: 240, 240, 245;
  --dark-text-secondary: 210, 210, 220;
  --dark-text-tertiary: 170, 170, 180;
  --dark-text-placeholder: 140, 140, 150;
  --dark-border-primary: 50, 50, 65;
  transition-property: opacity, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-background: var(--dark-bg-background);
    --bg-secondary: var(--dark-bg-secondary);
    --bg-tertiary: var(--dark-bg-tertiary);
    --bg-quaternary: var(--dark-bg-quaternary);
    --text-primary: var(--dark-text-primary);
    --text-secondary: var(--dark-text-secondary);
    --text-tertiary: var(--dark-text-tertiary);
    --text-placeholder: var(--dark-text-placeholder);
    --border-primary: var(--dark-border-primary);
  }
}

@media (prefers-color-scheme: light) {
  html {
    --bg-background: var(--light-bg-background);
    --bg-secondary: var(--light-bg-secondary);
    --bg-tertiary: var(--light-bg-tertiary);
    --bg-quaternary: var(--light-bg-quaternary);
    --text-primary: var(--light-text-primary);
    --text-secondary: var(--light-text-secondary);
    --text-tertiary: var(--light-text-tertiary);
    --text-placeholder: var(--light-text-placeholder);
    --border-primary: var(--light-border-primary);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--bg-tertiary));
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--bg-background));
  border-radius: 10px;
}

::selection {
  background-color: #6648ec;
  color: #e3eeff;
}

[data-rmiz-modal-img] {
  border-radius: 1rem !important;
}

[data-rmiz-modal-overlay] {
  transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(var(--dark-bg-background), 0.85) !important;
  backdrop-filter: blur(5px) !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}